@import url("https://fonts.googleapis.com/css?family=Roboto");

/* ============== */
/* General Styles */
/* ============== */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f6f6f6;
  height: auto;
}

section {
  border-bottom: 2px solid #e6e6e6;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
}

label,
p {
  font-size: 1.2rem;
}

.header {
  background: #4caf50;
  height: 15vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#description {
  max-width: 400px;
  line-height: 1.4;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  text-align: center;
}

main {
  background: #fff;
  max-width: 900px;
  margin: auto;
  margin-top: -60px;
  z-index: 1;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.col-sm-1 {
  flex: 1;
  margin: 0 15px;
}

.col-sm-2 {
  flex: 2;
  margin: 0 15px;
}

/* ============ */
/* Input Styles */
/* ============ */

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 1rem;
}

input,
select,
textarea {
  margin-top: 1rem;
}

input,
textarea {
  border-radius: 5px 5px 0 0;
}

select {
  border-radius: 5px 0 0 0;
}

.input-group {
  margin: 1rem;
  margin-bottom: 2.5rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 3rem;
  outline: none;
  border: none;
  border-bottom: 2px solid #9e9e9e;
  background-color: #f6f6f6;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  transition: border 0.2s ease;
  border-bottom: 2px solid #66bb6a;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder {
  opacity: 0.54;
  color: #707070;
  font-size: 1rem;
}

/* ====================*/
/* Radio Button Styles */
/* ====================*/

/* Hide default radio buttons */
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

input[type="radio"]:not(:checked) + span,
input[type="radio"]:checked + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  transition: 0.3s ease;
  user-select: none;
}

input[type="radio"] + span:before,
input[type="radio"] + span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  z-index: 1;
  transition: 0.3s ease;
}

/* Unchecked styles */
input[type="radio"]:not(:checked) + span:before,
input[type="radio"]:not(:checked) + span:after,
input[type="radio"]:checked + span:before,
input[type="radio"]:checked + span:after {
  border-radius: 50%;
}

input[type="radio"]:not(:checked) + span:before,
input[type="radio"]:not(:checked) + span:after {
  border: 2px solid black;
}

input[type="radio"]:not(:checked) + span:after {
  transform: scale(0);
}

/* Checked styles */
input[type="radio"]:checked + span:before {
  border: 2px solid #4caf50;
}

input[type="radio"]:checked + span:after {
  border: 2px solid #4caf50;
  background-color: #4caf50;
  transform: scale(1.02);
}

/* ====================*/
/* Checkbox Styles */
/* ====================*/

/* Hide default checkboxes */
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

input[type="checkbox"] + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  user-select: none;
}

input[type="checkbox"] + span:before,
input[type="checkbox"] + span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 1;
  border: 2px solid black;
  border-radius: 1px;
  margin-top: 3px;
  transition: 0.3s;
}

/* Checked styles */
input[type="checkbox"]:checked + span:before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 3px solid #4caf50;
  border-bottom: 3px solid #4caf50;
  transform: rotate(40deg);
  backface-visibility: hidden;
  transform-origin: 100% 100%;
}

input[type="checkbox"]:checked + span:after {
  border: none;
}

/* Textarea styles */

textarea {
  line-height: normal;
  font-size: 1rem;
  overflow-y: hidden;
  padding: 0.8rem 0 0.8rem 0;
  min-height: 5rem;
  box-sizing: border-box;
}

/* Button styles */

.input-group.submit {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 2.5rem;
  background: #4caf50;
}

button {
  background: #d59541;
  border: 1px solid #d59541;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 2px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

button:hover {
  background: #f5ad4e;
  border: 1px solid #f5ad4e;
}

.fa-paper-plane {
  margin-left: 10px;
}

/* ==============*/
/* Media Queries */
/* ==============*/

@media (min-width: 600px) {
  #description {
    max-width: 500px;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .form-control {
    width: 70%;
  }
}
