@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #f6f6f6;
  height: auto;
}

header {
  background: #4caf50;
  height: 15vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

main {
  background: #fff;
  max-width: 900px;
  margin: auto;
  margin-top: -60px;
  z-index: 1;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
}

#description {
  text-align: center;
  font-size: 1.2rem;
}

.input-group {
  margin: 1rem;
}

.form-control {
  width: 100%;
  height: 3rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  background-color: transparent;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus {
  transition: border 0.2s ease;
  border-bottom: 2px solid #66bb6a;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder {
  opacity: 0.54;
  color: #707070;
  font-size: 1rem;
}

/* ====================*/
/* Radio Button Styles */
/* ====================*/

/* Hide default radio buttons */
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

input[type="radio"]:not(:checked) + span,
input[type="radio"]:checked + span {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  transition: 0.3s ease;
  user-select: none;
}

input[type="radio"] + span:before,
input[type="radio"] + span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  z-index: 2;
  transition: 0.3s ease;
}

/* Unchecked styles */
input[type="radio"]:not(:checked) + span:before,
input[type="radio"]:not(:checked) + span:after,
input[type="radio"]:checked + span:before,
input[type="radio"]:checked + span:after {
  border-radius: 50%;
  border: 2px solid transparent;
}

input[type="radio"]:checked + span:before,
input[type="radio"]:checked + span:after {
  border: #4caf50;
}

ul {
  list-style: none;
}

.input-group.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

button {
  background: #4caf50;
  border: 1px solid #4caf50;
  color: #fff;
  font-size: 1.5rem;
  height: 3rem;
  padding: 0 1.5rem;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
